<div class="row justify-content-center align-items-end h-100">
    <div class="col-sm-8">
        <div id="messages"></div>
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <div class="input-group-append"><input class="btn btn-outline-primary" type="submit" value="Send"></div>
            </div>
        </form>
    </div>
</div>