@model IEnumerable<BTUser>

@foreach (var user in Model)
{
    <a asp-controller="Chat" asp-action="PrivateMessage" asp-route-id="@user.Id" class="text-dark text-decoration-none">
        <div class="row">
            <div class="col-2 border m-1">
                    <img src="@user.AvatarFileName" alt="" style="border-radius: 50%; height: 50px; width: auto;">
                    <span>@user.FullName</span>
            </div>
            <br>
        </div>
    </a>
}