@model TheBugTracker.Models.Ticket
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Create";
    var user = await _userManager.GetUserAsync(User);
}

<style>
    .col-2{
        text-align: end;
    }
</style>


<div class="row justify-content-center">
    <div class="col-sm-8">
        <h1>New Ticket</h1>
        <hr />
        <form asp-action="Create" class="border p-5">
            <input type="hidden" asp-for="OwnerUserId" value="@user.Id" />
            <input type="hidden" asp-for="Created" value="@DateTime.Now" />
            <input type="hidden" asp-for="TicketStatusId" value="@ViewBag.TicketStatusId" />
            <input type="hidden" asp-for="Archived" value="false" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-2">
                    <label asp-for="Title" class="control-label"></label>
                </div>
                <div class="col">
                    <input asp-for="Title" class="form-control" placeholder="Short (less than 50 characters) but meaningful" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-2">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col">
                    <textarea placeholder="As a <type of user>, I would like to go to <url or page>, and see <blank>, so that <blank>" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-2">
                    <label asp-for="ProjectId" class="control-label"></label>
                </div>
                <div class="col">
                    <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-2">
                    <label asp-for="TicketTypeId" class="control-label"></label>
                </div>
                <div class="col">
                    <select asp-for="TicketTypeId" class ="form-control" asp-items="ViewBag.TicketTypeId"></select>
                    <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-2">
                    <label asp-for="TicketPriorityId" class="control-label"></label>
                </div>
                <div class="col">
                    <select asp-for="TicketPriorityId" class ="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                    <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-2">
                    <label asp-for="DeveloperUserId" class="control-label"></label>
                </div>
                <div class="col">
                    <select asp-for="DeveloperUserId" class ="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                    <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                </div>
            </div>
            <br>

            <div class="row justify-content-end">
                <div class="col-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
