@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedUsers">Seed Users</a>    
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedUsers">Unseed Users</a> 
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedCompanies">Seed Companies</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedCompanies">Unseed Companies</a>  
    <br>      
    <br>      
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedProjects">Seed Projects</a>     
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedProjects">Unseed Projects</a> 
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTickets">Seed Tickets</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTickets">Unseed Tickets</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTicketTypes">Seed TicketTypes</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTicketTypes">Unseed TicketTypes</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTicketStatuses">Seed TicketStatuses</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTicketStatuses">Unseed TicketStatuses</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTicketPriorities">Seed TicketPriorities</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTicketPriorities">Unseed TicketsPriorities</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedProjectPriorities">Seed ProjectPriorities</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedProjectPriorities">Unseed ProjectPriorities</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedInvites">Seed Invites</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedInvites">Unseed Invites</a>
    <br>   
    <br>   
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTicketHistories">Seed Histories</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTicketHistories">Unseed Histories</a>
</div>
