@model IEnumerable<TheBugTracker.Models.TicketPriority>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> _signInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Ticket Priorities (@Model.Count())</h1>
@if(!_signInManager.IsSignedIn(User))
{
    <a class="btn btn-primary" asp-controller="Home" asp-action="SeedTicketPriorities">Seed</a>        
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="UnseedTicketPriorities">Unseed</a>
    <p><em>Seed data is hardcoded</em></p>
}

@if(_signInManager.IsSignedIn(User))
{
    <p><a asp-action="Create">Create New</a></p>
}

<table class="table table-responsive-xl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(_signInManager.IsSignedIn(User))
            {
            <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            }
        </tr>
}
    </tbody>
</table>
