@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-0">
                <input type="radio" checked id="createNewCompany" name="creatingOrJoiningCompany" value="Create new company">
                <label for="createNewCompany">Create new company</label>

                <input type="radio" id="joinExistingCompany" name="creatingOrJoiningCompany" value="Join an existing company">
                <label for="joinExistingCompany">Join an existing company</label>
            </div>

            <div id="companyName" class="form-group">
                <label>Name your company</label>
                <input asp-for="Input.CompanyName" class="form-control" />
            </div>
            
            <div id="companyCode" class="form-group">
                <label>Invite Code</label>
                <input asp-for="Input.InviteCode" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>

            <p class="mt-3">
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const createNewCompany = document.getElementById('createNewCompany')
        const joinExistingCompany = document.getElementById('joinExistingCompany')

        const companyName = document.getElementById('companyName')
        const companyCode = document.getElementById('companyCode')

        if(createNewCompany.checked){
            companyName.style.display = 'block';
            companyCode.style.display = 'none';
        } else {
            companyName.style.display = 'none';
            companyCode.style.display = 'block';
        }

        createNewCompany.addEventListener('click', () => {
            companyName.style.display = 'block';
            companyCode.style.display = 'none';
            companyName.children[1].focus()
        })
        
        joinExistingCompany.addEventListener('click', () => {
            companyName.style.display = 'none';
            companyCode.style.display = 'block';
            companyCode.children[1].focus()
        })


    </script>
}
