@model TheBugTracker.Models.Invite
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Create";
    var user = await _userManager.GetUserAsync(User);
}

<h1>Send Invite</h1>
<hr />

<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="InviteDate" value="@DateTime.Now" />
            <input type="hidden" name="CompanyId" value="@user.CompanyId" />
            <input type="hidden" name="InvitorId" value="@user.Id" />
            <input type="hidden" name="IsValid" value="true" />

            <div class="form-group">
                <label asp-for="InviteeEmail" class="control-label"></label>
                <input asp-for="InviteeEmail" class="form-control" />
                <span asp-validation-for="InviteeEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InviteeFirstName" class="control-label"></label>
                <input asp-for="InviteeFirstName" class="form-control" />
                <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InviteeLastName" class="control-label"></label>
                <input asp-for="InviteeLastName" class="form-control" />
                <span asp-validation-for="InviteeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
